.pembungkus-ubahpwd{
	position: absolute;
	border: 0.7px solid grey;
	border-radius: 6px;
	height: 350px;
	width: 650px;
	margin-top: 100px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.57);
}
.label-ubahpwd{
	display: block;
	font-size: 0.8em;
	color: grey; 
}
.tombol-ubahpwd{
	display: block;
	margin: 9px auto;
	font-size: 1em;
	padding: 5px 8px;
	width: 100px;
	background: #152349;
	outline: 0;
	border: none;
	border-radius: 5px;
	color: white;
}
.input-ubahpwd{
	background: #EEEEEE;
	color:black;
	width: 300px;
	padding: 8px 8px;
	margin-top: 5px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: 2px solid #EEEEEE;
	outline: none;
	border-radius: 5px;
	font-size: 0.8em;
	box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.17);
}
.hidepwd{
	position: absolute; 
	margin-top: 15px;
	margin-left: 41%;
	width: 25px;
	background: #EEEEEE;
	padding-left: 10px;
}
.konten-pwd{
	height: 250px;
	width: 300px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
.input-ubahpwd:hover{
	background: #F6F6F6;
}
.tombol-ubahpwd:hover{
	background: white;
	border: 1px solid;
	color: black;
}
.tombol-ubahpwd:active{
	transform: scale(0.9,0.9); 
}
.judul-ubahpwd{
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.pembungkus-ubahpwd{
		width: 400px;

	}
	.hidepwd{
		margin-left: 66.5%;
	}
}