*{
	font-family: 'Lato', sans-serif;
}
.pembungkus-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.pembungkus-menu{
	display: flex;
}
.navbar-beranda{
	background: #152349;
	width: 100px;
	height: 50px;
}
.navbar-menu{
	display: block;
	background: #152349;
	color: white;
	width: 100%;
	height: 50px;
}
.menu-profile{
	background: #152349;
	color: white;
	width: 150px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.pembungkus-menu-profile{
	margin-top: -4px;
}
.isi-menu{
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	width: 100px;
	height: 20px;
	text-align: center;
}
.isi-profile{
	display: none;
}
.menu-profile:hover .isi-profile{
	display: block;
	width: 150px;
	height: 20px;
	background: #152349;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px
}
.navbar-profile:hover .isi-profile{
	background: white;
	color: black;
}
.pembungkus-navbar-menu{
	display: inline-block;
	margin: 0px -3px;
}
.active{
	background: white;
	color: black;
}
.pembungkus-navbar-menu:hover .isi-menu{
	background: white;
	cursor: pointer;
	color: black;
}
.show-hide{
	display: none;
}
.logo-navbar{
	background: #152349;
	display: block;
	padding: 5px 25px;
}
.pembungkus-navbar-beranda{
	display: none;
}
.logo-profile{
	padding: 5px 0px;
}
.label-profile{
	margin: -40px 45px;
	position: absolute;
}
.contentBantuan{
	position: absolute;
	height: 350px;
	width: 700px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	border: 1px solid;
	padding-top: 20px;
	text-align: center;
}
.contentTentang{
	position: absolute;
	height: 370px;
	width: 700px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	border: 1px solid;
	padding-top: 20px;
	text-align: center;
	margin-bottom: 70%;
}
.footerSiswa{
	background: #69CBFF;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.isi-bantuan{
	width: 400px;
	margin: 10px auto;
}
.isi-tentang{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.judul-vote{
	position: static;
	border: 1px solid #dacbcb;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: auto;
	width: 1200px;
	left: 0;
	right: 0;
	z-index: 1;
	background: white;
	text-align: center;
}
.status-pemilihan{
	/*position: static;  */
	border: 1px solid #dacbcb;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 60px;
	width: 1200px;
	left: 0;
	right: 0;
	background: white;
	text-align: center;
}
.list-vote{
	/*position: absolute;*/
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: 0;
	right: 0;
	top: 160px;
	text-align: center;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 20px;
	z-index: -3;
}
.grid-item {
	padding: 20px;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 270px;
	text-align: center;
}
.isi-vote{
	box-shadow: 1px -1px 5px -2px rgba(134,58,58,0.75);
	border: 3px solid #dacbcb;
	height: 270px;
	padding: 5px;
	padding-bottom: -15px;
	width: 325px;
	border-radius: 6px;
}
.label-calon{
	display: block; 
	font-size: 0.7em;
}
.label-nourut{
	display: block; 
	font-size: 0.7em; 
	margin-top: 10px;
}

@media only screen and (max-width: 600px) {
	.pembungkus-menu{
		display: block;
	}
	.isi-menu{
		display: block;
		width: 100%;
		/*background: #152349;*/
	}
	.navbar-beranda{
		width: 100%;
		background: #152349;
	}
	.navbar-menu{
		display: none;
	}
	.pembungkus-navbar-menu{
		display: block;
		margin: 0px 0px;
		background: #152349;
	}
	.show-hide{
		display: block;
		padding: 5px 10px;
	}
	.logo-navbar{
		display: none;
	}
	.pembungkus-navbar-beranda:hover .isi-menu{
		cursor: pointer;
		background: white;
		color: black;
	}
	.pembungkus-navbar-beranda{
		display: block;
	}
	.contentBantuan{
		margin-left: auto;
		margin-right: auto;
		right: 0;
		left: 0;
		width: 400px;
	}
	.isi-bantuan{
		width: 350px;
	}
	.contentTentang{
		margin-left: auto;
		margin-right: auto;
		right: 0;
		left: 0;
		width: 400px;
		height: 450px; 
	}
	.isi-tentang{
		width: 350px;
		margin-left: auto;
		margin-right: auto;

	}

	.grid-container {
		display: grid;
		grid-template-columns: auto;
	}
	.grid-item {
		padding: 20px 10px 0px 10px;
	}
	.list-vote{
		width: 400px;
		top: 130px;
		margin-bottom: 10px;
	}
	.judul-vote{
		font-size: 0.5em;
		width: 400px;
	}
	.status-pemilihan{
		width: 400px;
		font-size: 0.8em;
	}
}

